<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moteur de recherche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Moteur de recherche</h1>
        </div>

        <div class="menu">
            <select name="descriptor_type">
                <option value="default" selected>Type de descripteur</option>
                <option value="color">Color</option>
                <option value="shape">Shape</option>
            </select>
            <select name="similarity_calculation">
                <option value="default" selected>Calcul similarité</option>
                <option value="euclidean">Euclidean</option>
                <option value="manhattan">Manhattan</option>
            </select>
            <select name="images_to_display">
                <option value="default" selected>Nombre images à afficher</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <button type="submit" formaction="/search">Rechercher</button>
        </div>

        <div class="image-upload" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div>
                <div id="input_image_display"></div>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="fileInput" onchange="selectInput()" style="display:none">
                    <button id="selectImgBtn" type="button" onclick="document.getElementById('fileInput').click()">Drop image here or click to select</button>
                </form>
            </div>
            
        </div>
        
        <div class="scroller">
            <div class="results">
                <img src="{{ url_for('static', filename='polytech.jpg') }}" alt="Default Image 1">
                <img src="{{ url_for('static', filename='bibli.jpg') }}" alt="Default Image 2">
                <img src="{{ url_for('static', filename='320.jpg') }}" alt="Default Image 3">
                <img src="{{ url_for('static', filename='415.jpg') }}" alt="Default Image 4">
                <img src="{{ url_for('static', filename='624.jpg') }}" alt="Default Image 5">
                <img src="{{ url_for('static', filename='736.jpg') }}" alt="Default Image 6">
                <img src="{{ url_for('static', filename='986.jpg') }}" alt="Default Image 7">
                <img src="{{ url_for('static', filename='polytech.jpg') }}" alt="Default Image 8">
                <img src="{{ url_for('static', filename='bibli.jpg') }}" alt="Default Image 9">
                <img src="{{ url_for('static', filename='320.jpg') }}" alt="Default Image 10">
            </div>
        </div>
    </div>

    <br>
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <br>
    

    <footer>Ce site a été développé dans le cadre d'un cours à la faculté polytechnique de l'UMONS pour déployer un service SaaS de moteur de recherche 
        <br><a href="/nosInfos">En savoir plus</a>
    </footer>
</body>
</html>