<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moteur de recherche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>           
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Moteur de recherche</h1>
        </div>

        <div class="menu">
            <form method="POST">
                <select name="descriptor_type" id="descriptor_type" multiple>
                    <option value="default" selected>Type de descripteur</option>
                    <option value="HSV">HSV</option>
                    <option value="BGR">BGR</option>
                    <option value="SIFT">SIFT</option>
                    <option value="ORB">ORB</option>
                    <option value="LBP">LBP</option>
                    <option value="GLCM">GLCM</option>
                    <option value="HOG">HOG</option>
                    <option value="VGG16">VGG16</option>
                    <script>new MultiSelectTag('descriptor_type') </script>
                </select>
                <select name="similarity_calculation">
                    <option value="default" selected>Calcul similarité</option>
                    <option value="Euclidienne">Euclidienne</option>
                    <option value="Correlation">Correlation</option>
                    <option value="Chi Carre">Chi Carre</option>
                    <option value="Intersection">Intersection</option>
                    <option value="Bhattacharyya">Bhattacharyya</option>
                    <option value="Brute_force">Brute force</option>
                    <option value="Flann">Flann</option>
                </select>
                <select name="images_to_display">
                    <option value="default" selected>Nombre images à afficher</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    
                </select>
            </form>
            <button id="load-images" type="button" onclick="loadImages()">Rechercher</button>
        </div>

        <div class="image-upload" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div>
                <div id="input_image_display"></div>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="fileInput" onchange="selectInput()" style="display:none">
                    <button id="selectImgBtn" type="button" onclick="document.getElementById('fileInput').click()">Drop image here or click to select</button>
                </form>
            </div>
            
        </div>

        <div id="RP_pic">
        </div>
        
        <div class="scroller">
            <div id="results">

            </div>
        </div>
    </div>

    <br>
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <br>
    

    <footer>Ce site a été développé dans le cadre d'un cours à la faculté polytechnique de l'UMONS pour déployer un service SaaS de moteur de recherche 
        <br><a href="/nosInfos">En savoir plus</a>
    </footer>
</body>
</html>
